/*here we see style for slider*/
.heading-box h2{ width:100%; color: red; }
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #fff;
	text-align: center;
	transform: translateY(-50%);
}
.carousel-img{
  -webkit-filter: grayscale(25%); /* Safari 6.0 - 9.0 */
  filter: grayscale(25%);
  filter: brightness(50%);

}
 /* here is the footer*/
.social img {
	width: 50px;
  height : 50px;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.footer {
	background-color: darkgray;
}

/*here were are in the map*/
#mapid { height: 750px; }