/*here we see style for slider*/
.heading-box h2{ width:100%; color: red; }
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #fff;
	text-align: center;
	transform: translateY(-50%);
}
.carousel-img{
  -webkit-filter: grayscale(25%); /* Safari 6.0 - 9.0 */
  filter: grayscale(25%);
  filter: brightness(50%);

}
 /* here is the footer*/
.social img {
	width: 50px;
  height : 50px;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.footer {
	background-color: darkgray;
}

* {
  box-sizing: border-box;
}

h1 {
  display: flex;
}
h1::before,
h1::after {
  content: "";
  flex:1;
  align-self: center;
  border-bottom: 1px solid CurrentColor;
}
h1::before {margin-right: .3em}
h1::after {margin-left: .3em}

/*here we are in the homepage*/
.cadre{
  background-color: #26bf93;
  font-size: 100%;
  color: white;
  width:25%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius:5px;
}

.cadrerestaurant{
  background-color: #26bf93;
  font-size: 100%;
  color: white;
  width:40%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius:5px;
}

.form{
	text-align: left;
	min-width: 40%;
}

.btn {
	font-weight: bold;
	cursor: pointer;
}
/*here were are in the map*/
#mapid { height: 750px; }

body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-weight: bold;
}

.card-title{
  font-weight: bold;
}